# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
env/
ENV/

# IDE
../.idea/
.vscode/
*.iml

# Screenshots
screenshots/

# Logs
*.log

# OS
.DS_Store
Thumbs.db